<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangxp.boot.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.zhangxp.boot.entity.Book">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="reader" jdbcType="VARCHAR" property="reader" />
    <result column="isbn" jdbcType="VARCHAR" property="isbn" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>